<div class="container-wrapper">
  <div
    class="page-bg"
    style="background-image: url(assets/images/bg-margarita.jpg)"
  ></div>
  <div id="fullwidth-container">
    <!-- start container -->
    <div class="page-title-wrapper">
      <div class="page-title-outher">
        <div class="page-title-inner">
          <span class="page-title-icon flaticon-pizza-slice"></span>
          <h1 class="page-title">Pizzas</h1>
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <div class="clear"></div>
    <div class="page-wrapper">
      <div class="container">
        <form>
          <div class="row">
            <div class="col-md-12">
              <!-- <div class="form-group">
                <label>Search:</label>
                <input [(ngModel)]="filter.search" name="search">
              </div> -->
              <div class="form__group field mb-4">
                <input
                  type="input"
                  class="form__field"
                  placeholder="Search"
                  [(ngModel)]="filter.search"
                  name="search"
                  id="name"
                  required
                />

                <label for="name" class="form__label">Pizza</label>
              </div>
              <div class="float-right">
                <button (click)="resetFilter(); isReset = !isReset" *ngIf="!isReset">Reset</button>
                <button (click)="fetchAndFilter(); isReset = !isReset" *ngIf="isReset">Search</button>
              </div>
            </div>
            <div class="col-md-3" *ngFor="let dropdown of filter.dropdownValues; index as i">
              <div class="form-group">
                <label class="small">{{dropdown.propertyName}}</label>
                <select class="form-control" [(ngModel)]="dropdown.selected" (ngModelChange)="doFilter()" [name]="dropdown.propertyName">
                  <option *ngFor="let text of dropdown.data" [value]="text" [ngValue]="text">{{text.replace('_',' ') | titlecase}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-6"  *ngFor="let slider of filter.sliderValues;">
              <div class="form-group pizza-slider">
                <label>{{slider.propertyName}}</label>
                <ngx-slider [(value)]="slider.min" [(highValue)]="slider.max" (userChangeEnd)="doFilter()"  [options]="slider.options"></ngx-slider>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="offer-menu2-wrapper">
        <div class="offer-menu2-items">
          <carousel [cellsToShow]="2" [height]="370">
            <ng-container *ngFor="let pizza of pizzas">
              <div class="carousel-cell" *ngIf="pizza.name.startsWith(filter.search.toLowerCase())">
                <app-pizza-card [pizza]="pizza"></app-pizza-card>
              </div>
            </ng-container>
          </carousel>
        </div>
      </div>
      <div class="clear"></div>
    </div>
    <!-- end page wrapper -->
  </div>
  <!-- end container -->
  <div class="clear"></div>
</div>
