<div class="container-wrapper">
  <div
    class="page-bg"
    style="background-image: url(assets/images/bg-margarita.jpg)"
  ></div>
  <div id="fullwidth-container">
    <!-- start container -->
    <div class="page-title-wrapper">
      <div class="page-title-outher">
        <div class="page-title-inner">
          <span class="page-title-icon flaticon-pizza-slice"></span>
          <h1 class="page-title">Pizzas</h1>
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <div class="clear"></div>
    <div class="page-wrapper">
      <div class="container">
        <form>
          <div class="row">
            <div class="col-md-2" *ngFor="let dropdown of dropdowns">
              <div class="form-group">
                <label class="small">{{dropdown.propertyName}}</label>
                <select class="form-control" (change)="dropdownFilter($event,dropdown.propertyName)"  *ngFor="let text of dropdown.data">
                  <option>{{text}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group pizza-slider" *ngFor="let slider of sliders">
                <ngx-slider [(value)]="slider.min" [(highValue)]="slider.max" (userChangeEnd)="sliderFilter($event)"  [options]="options"></ngx-slider>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="offer-menu2-wrapper">
        <div class="offer-menu2-items">
          <carousel [cellsToShow]="2">
            <div class="carousel-cell" *ngFor="let pizza of pizzas">
              <img [src]="pizza.imageUrl" alt="">
              {{pizza.name}}
            </div>
          </carousel>
        </div>
      </div>
      <div class="clear"></div>
    </div>
    <!-- end page wrapper -->
  </div>
  <!-- end container -->
  <div class="clear"></div>
</div>
