<div class="square-flip" *ngIf="pizza">
  <div class='square'>
    <div class="square-container">
      <div class="align-center"><img [src]="frontCoverImage" class="boxshadow" alt="">
      </div>
      <h2 class="textshadow">{{pizza.name}}</h2>
      <h3 class="textshadow">-- Order now</h3>
    </div>
    <div class="flip-overlay"></div>
  </div>
  <div class='square2'>
    <div class="square-container2">
      <div class="align-center">
        <img [src]="backCoverImage" height="40%">
      </div>
      <h2>#1 {{pizza.name}}</h2>
    </div>
    <div class="flip-overlay"></div>
  </div>
</div>



